*{
    margin: 0;
    padding: 0;
}
.common-btn{
    background-color: #1D4ED8;
    color: white;
    padding: 10px 28px;
    border-radius: 12px;
    font-weight:bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
/* Navber */
nav{
    display: flex;
    justify-content: space-around;
    padding: 8px;
}
.img-logo{
    display: flex;
    text-align: center;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.nav{
    display: flex;
    align-items: center;
}
/* nan bar */


/*  Hero Section */
 .banner{
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}
.butt-reg{
    text-align: center;
    margin-top: 250px;
}
.content{
    /* text-align: center; */
     color: white;
}
.content h2{
    font-size: 65px;
    text-align: center;
    margin-bottom: 18px;
}
.content em{
    font-style: italic;
}
.content p{
    font-size: 18px;
    max-width: 650px;
    text-align: center;
 }


  /*  Speakers Section */
 .speaker{
    width: 90%;
    margin: 100px auto;
}
.speaker-h2{
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}
.details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
}
.card{
    border: 1px solid #ddd;
    border-radius: 14px;
    overflow: hidden;
    padding-bottom: 15px ;
}
.card img{
    width: 100%;
    display: block;
}
.details h5{
    color: #2563EB;
}







/* Pricing Section */
.main-sec{
    max-width: 1200px;
    margin: 100px auto;
}
.main-h1{
    text-align: center;
    font-size: 42px;
    margin-bottom: 10px;
}
.main-p{
    text-align: center;
    color: #666;
    margin-bottom: 50px;
}
.main-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 22px;
}
.badch{
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
}
.badch-list{
    list-style: disc;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
}
.badch-list li::marker {
    color: blue;
}

.badch li {
    color: black;
    margin-bottom: 13px;
    line-height: 1.6;
}
.pro-badch{
    background: #0D1B2A;
    color: #fff;
}
.pro-badch h5{
     color: #2563EB;
}
.pro-badch li{
    color: #ffffff;
}
.badch h2{
    font-size: 40px;
}
.badch p{
    color: #666;
    margin-bottom: 25px;
}
.badch ol{
    padding: 20px;
    margin-bottom: 30px;
}
.badch button{
    width: 100%;
}
.outline-btn{
    background-color: #fff;
    padding: 8px 6px;
    border-radius: 12px;
    font-size: 16px;
    color: #2563EB;
    border: 1px solid #2563EB;
    cursor: pointer;
    width: 100%;
}

